{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - Ревью задания {% endblock %} 

{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    
                    <h1>{{ course.title }}</h1>
                    <h2>{{ assignment_submission.assignment.title }}</h2>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="mt-3 ml-3">
    <a href="{% url 'courses:course_main_page' course.id %}" class="btn btn-light">Вернуться к главной странице курса</a>
</div>

<div class="module">
    <div class="widget side-bar border-btm"> 
    <div class="content">
        <h6>{{ assignment_submission.assignment.description }}</h6>
    </div>
</div>


<div class="content">
    <table class="table ml-3 mr-3">
        <thead>
            <tr>
                <th scope="col">Студент</th>
                <th scope="col">Решение задания</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ assignment_submission.student }}</th> 
                <td><a href="{{ assignment_submission.homework_file.url }}" target="_blank">Открыть файл</a></td>
            </tr> 
        </tbody>
    </table>
</div>

<div class="module col-padding-y mt-2">
    <div class="widget side-bar border-btm"> 
        <h6>Оставьте свой комментарий к работе студента, если решение не нуждается в исправлении - поставьте студенту оценку от 0 до {{ assignment_submission.assignment.total_mark }}</h6>
        <div class="content">
            <form method="post">
                {% csrf_token %} 
                {{ form.teacher_comment }} 
                {{ form.earned_mark }}
                <input type="hidden" name="next" value="{{ next }}">
                <div class=" mb-3 mt-3">
                    <button class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} 