{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - {{ course.title }} {% endblock %} 

{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    
                    <h1>{{ course.title }}</h1>
                    <h2>{{ course.subject }}</h2>
                </div>
            </div><!-- Top Columns /-->
            
        </div>
    </div><!-- Grid Container /-->
</div>


<div class="module col-padding-y">
    <div class="section-title">
    {% if user != course_teacher %}
            <h2>Мой прогресс</h2>
            <p>Заработано баллов: {{ course_submission.earned_mark }} из {{ course_submission.total_mark }}</p>
            <p>Выполнено заданий: {{ assignment_submissions_done.count }} из {{ assignments.count }}</p>
            <br>
            <p>Преподаватель: {{ course_teacher }}     ({{ course_teacher.email }})</p>
    </div>
    {% endif %} 

{% if user == course_teacher %} 
        <h2>Прогресс моих учеников</h2>
    </div>
        <div class="content">
            <table class="table ml-3 mr-3">
                <thead>
                    <tr>
                        <th scope="col">Студент</th>
                        <th scope="col">Задание</th>
                        <th scope="col">Файл</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course_student in course_students %} 
                    {% for assignment_submission in assignment_submissions_all %} 
                        {% if assignment_submission.student == course_student %}
                    <tr>
                        <th scope="row">{{ course_student }}</th> 
                        <td>{{ assignment_submission.assignment.title }}</td>
                        <td><a href="{{ assignment_submission.homework_file.url }}" target="_blank">Открыть файл</a></td>
                        <td>{{ assignment_submission.get_status_display }}</td>
                    </tr>
                        {% endif %} 
                        {% endfor %} 
                    {% endfor %} 
                </tbody>
            </table>
        </div>
{% endif %} 

 
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 col-padding-y">
                <div class="widget side-bar border-btm">
                    <h6>Содержание курса</h6>
                    <div class="content">
                        <ul class="list-unstyled">
                            {% for lesson in lessons %}
                            <li><a href="{% url 'courses:lesson_view'  course.id lesson.id %}">Урок {{ lesson.number }} {{lesson.title }}</a></li>
                            {% endfor %} 
                        </ul>
                    </div><!-- Widget Content /-->
                </div>
            </div>

                
                <div class="col-sm-12 col-md-6 col-lg-6 col-padding-y">
                    <div class="widget side-bar border-btm">
                        <h6>Задания курса</h6>
                        <div class="content">
                            <ul class="list-unstyled">
                                {% for assignment in assignments %}
                                <li><a href="{% url 'courses:assignment_view' course.id assignment.id %}">{{ assignment.title }}</a></li>   
                                {% endfor %}
                            </ul>
                        </div><!-- Widget Content /-->
                    </div>
                </div>
           
        </div>
    </div>
</div>
{% endblock %} 