{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

    
    {% block title %} EduBuddy school {% endblock %}
    
    {% block content %}

        <div class="banner-container">
            <div class="main-banner">
            
                <div class="slide transparent-background slide-one">
                    <div class="slide-text container">
                        <h2>Добро пожаловать в <span>EduBuddy school</span> 
                        <p>Твой лучший помощник в сфере школьного образования! Привьем интерес к занятиям и науке, расскажем как подтянуть оценки и подготовиться к олимпиадам, поможем сдать ГИА и ЕГЭ на высший балл, расскажем все о поступлении в лучшие университеты страны.</p>
                        {% if user.is_authenticated %} 
                        <a href="{% url 'students:profile' %}" class="btn btn-primary btn-padding btn-animated">Войти</a>
                        {% else %}
                        <a href="{% url 'students:login' %}" class="btn btn-primary btn-padding btn-animated">Войти</a>
                        {% endif %} 
                        <a href="{% url 'students:register' %}" class="btn btn-secondary btn-padding btn-dark-animated">Зарегистироваться</a>
                    </div>
                </div><!-- Slide /-->
                
                <div class="slide transparent-background slide-two">
                    <div class="slide-text container">
                        <h2>Добро пожаловать в <span>EduBuddy school</span>
                        <p>Твой лучший помощник в сфере школьного образования! Привьем интерес к занятиям и науке, расскажем как подтянуть оценки и подготовиться к олимпиадам, поможем сдать ГИА и ЕГЭ на высший балл, расскажем все о поступлении в лучшие университеты страны.</p>
                        <a href="{% url 'students:login' %}" class="btn btn-primary btn-padding">Войти</a>
                        <a href="{% url 'students:register' %}" class="btn btn-secondary btn-padding">Зарегистироваться</a>
                    </div>
                </div><!-- Slide /-->
            
            </div><!-- Main Banner /-->
        </div>
        <!-- Banner Container /-->
        
        <div class="information-boxes grey-bg grey-bg-color module">
        	<div class="container">
            	<div class="row">
                	
                    <div class="col-sm-12 col-md-4 col-lg-4 col-padding-y">
                    	<div class="featured-box">
                        	<div class="featured-img">
                            	<img src="{% static 'assets/images/help/information-boxes/courses.jpg' %}" alt="Information-Img">
                            </div>
                            <div class="featured-text">
                            	<h5><a href="{% url 'courses:courses' %}">Курсы для школьников</a></h5>
                                <p>Программы занятий разработаны с использованием методом мнемотехники для максимально эффективного обучения.</p>
                                <a href="{% url 'courses:courses' %}">Подробнее →</a>
                            </div>
                        </div><!-- Featured Box /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-4 col-lg-4 col-padding-y">
                    	<div class="featured-box">
                        	<div class="featured-img">
                            	<img src="{% static 'assets/images/help/information-boxes/olympiads.jpg' %}" alt="Information-Img">
                            </div>
                            <div class="featured-text">
                            	<h5><a href="{% url 'olympiads:olympiads' %}">Олимпиады</a></h5>
                                <p>Подготовка к олимпиадам любого уровня, которые могут гарантировать твое поступление в университет даже без ЕГЭ!</p>
                                <a href="{% url 'olympiads:olympiads' %}">Подробнее →</a>
                            </div>
                        </div><!-- Featured Box /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-4 col-lg-4 col-padding-y">
                    	<div class="events-block">
                        	<div class="events-head">
                            	<h5>Последние события</h5>
                                <h5><a href="{% url 'olympiads:is_not_ready' %}">Все события →</a></h5>
                            </div>
                            <div class="events">
                            	<div class="events-date">
                                	<h6><i class="far fa-calendar-check"></i>18 сентября 2023</h6>
                                    <a href="{% url 'olympiads:is_not_ready' %}">Стартовала Всероссийская олимпиада школьников</a>
                                </div>
                                <div class="events-date">
                                	<h6><i class="far fa-calendar-check"></i>2 сентября 2023</h6>
                                    <a href="{% url 'olympiads:is_not_ready' %}">Вебинар "Как выбрать университет и направление"</a>
                                </div>
                                <div class="events-date">
                                	<h6><i class="far fa-calendar-check"></i>31 июля 2023</h6>
                                    <a href="{% url 'olympiads:is_not_ready' %}">Начинаем готовиться к ЕГЭ!</a>
                                </div>
                                <div class="events-date">
                                	<h6><i class="far fa-calendar-check"></i>1 июня 2023</h6>
                                    <a href="{% url 'olympiads:is_not_ready' %}">Начало программы для дошкольников.</a>
                                </div>
                            </div><!-- Events /-->
                        </div><!-- Events Block /-->
                    </div><!-- Columns /-->
                    
                </div><!-- Row /-->
            </div><!-- Container /-->
        </div>
        <!-- Information Boxes /-->
    	
        <div class="about-us module">
            <div class="section-title">
            	<h2>Добро пожаловать в <span>EduBuddy school</span></h2>
                <p>Наша миссия - предоставить уникальную платформу, где знания переплетаются с инновационными методиками обучения.</p>
            </div><!-- Section Title /-->
            <div class="container">
            	<div class="row">
                	
                    <div class="col-sm-12 col-md-6 col-lg-6 col-padding-y">
                    	<div class="about-img">
                        	<img src="{% static 'assets/images/help/about-us/about-img.jpg' %}" alt="About">
                        </div><!-- About Img /-->
                    </div><!-- columns /-->
                    
                    <div class="col-sm-12 col-md-6 col-lg-6 col-padding-y">
                    	<div class="about-text">
                        	<p>Мы прекрасно понимаем, что учиться может быть вызовом, 
                                особенно в суете современной жизни, но с нами вы забудете о скучных учебниках и 
                                безликих лекциях. Мы уверены, что учиться можно с удовольствием! 
                                Наши курсы оживят материал интересными иллюстрациями, практическими заданиями 
                                и реальными примерами из жизни. Мы знаем, как сделать каждый урок увлекательным 
                                и полезным. </p>
                            <p>Любовь к учебе – это не врожденное качество, а результат правильного подхода. 
                                Мы поможем вам найти свой уникальный способ учиться, который будет вдохновлять вас 
                                на новые достижения. Наши методы основаны на самых эффективных педагогических подходах, 
                                которые делают обучение интересным и запоминающимся.</p>
                            <ul class="menu">
                            	<li><i class="fas fa-check"></i> Профессиональные преподаватели: обеспечат глубокое понимание материала.</li>
                            	<li><i class="fas fa-check"></i> Гибкость и удобство: платформа доступна 24/7, позволяя вам учиться в удобное для вас время.</li>
                                <li><i class="fas fa-check"></i> Инновационные методы: увлекательные и эффективные подходы к обучению, основанные на передовых педагогических методиках.</li>
                                <li><i class="fas fa-check"></i> Актуальность: наши курсы постоянно обновляются и содержат самую полезную и актуальную информацию.</li>
                                <li><i class="fas fa-check"></i> Сообщество: присоединяясь к нам, вы становитесь частью образовательного сообщества, где можно обмениваться опытом и находить поддержку.</li>
                            </ul>
                            <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-primary btn-padding btn-animated">О нас</a>
                            <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-secondary btn-padding btn-dark-animated">Связаться с нами</a>
                        </div><!-- About Text /-->
                    </div><!-- columns /-->
                    
                </div><!-- Row /-->
            </div><!-- Container -->
        </div>
        <!-- About Us /-->
        
        <div class="our-courses grey-bg grey-bg-color module">
            <div class="section-title">
            	<h2>Наши самые популярные <span>курсы</span></h2>
                <p>Добро пожаловать в мир наших самых популярных курсов, где знания превращаются в увлекательные и практические навыки!</p>
            </div><!-- Section Title /-->
            <div class="container">
            	<div class="row">
                	
                    {% for course in courses %}
                    <div class="col-sm-12 col-md-6 col-lg-4 col-padding-y">
                    	<div class="course-warp">
                        	<div class="course-img">
                                <img src="{{ course.image.url }}" alt="Our Courses">
                                <div class="course-price">
                                    {% if course.price == 0 %}
                                    <h6>БЕСПЛАТНО</h6>
                                    {% else %} 
                                    <h6>{{ course.price }}</h6>
                                    {% endif %} 
                                </div>
                                <div class="course-teacher">
                                    <img src="{{ course.teacher.image.url }}" alt="teacher">
                                    <h6>{{ course.teacher.last_name }} {{ course.teacher.first_name }}</h6>
                                </div>
                            </div>
                            <div class="course-text">
                            	<h5><a href="{% url 'courses:courses_registration' course.id %}">{{ course.title }}</a></h5>
                                <p>{{ course.course_description }}</p>
                                <ul class="menu">
                                    <li><i class="fas fa-check"></i> {{ course.month_amount }} месяцев</li>
                                    <li><i class="fas fa-check"></i> {{course.times_a_week }} занятия в неделю</li>
                                </ul>
                                <a href="{% url 'courses:courses_registration' course.id %}" class="btn btn-light btn-dark-animated">Присоединиться</a>
                            </div>
                        </div><!-- Courses warp /-->
                    </div><!-- columns /-->
                    {% endfor %}
                    
                </div><!-- Row /-->
            </div><!-- Container -->
        </div>
        <!-- Our Courses /-->
        
        <div class="our-staff module">
            <div class="section-title">
            	<h2>Наши <span>учителя</span></h2>
            	<p>Наши учителя - высококвалифицированные профессионалы, готовые вдохновить и поддержать вас на пути к новым знаниям и достижениям.</p>
            </div><!-- Section Title /-->
            <div class="row">
                
                <div class="col-sm-12 col-md-6 col-lg-3 col-padding-y">
                    <div class="staff-wrap hover-wrap">
                        <div class="hover-img">
                            <img src="{% static 'assets/images/help/our-staff/staff-img-1.png' %}" alt="Staff Images">
                            <div class="staff-detail hover-info">
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-dark btn-animated">Подробнее</a>
                            </div>
                        </div>
                        <div class="staff-text hover-bottom">
                        	<div class="staff-name">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Корнилова Ксения</a></h5>
                            	<p>Биология, биоинженерия, химия</p>
                            </div>
                        </div>
                    </div><!-- Staff Wrap /-->
                </div><!-- columns /-->
                
                <div class="col-sm-12 col-md-6 col-lg-3 col-padding-y">
                    <div class="staff-wrap hover-wrap">
                        <div class="hover-img">
                            <img src="{% static 'assets/images/help/our-staff/staff-img-2.png' %}" alt="Staff Images">
                            <div class="staff-detail hover-info">
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-dark btn-animated">Подробнее</a>
                            </div>
                        </div>
                        <div class="staff-text hover-bottom">
                        	<div class="staff-name">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Литов Владимир</a></h5>
                            	<p>Программирование</p>
                            </div>
                        </div>
                    </div><!-- Staff Wrap /-->
                </div><!-- columns /-->
                
                <div class="col-sm-12 col-md-6 col-lg-3 col-padding-y">
                    <div class="staff-wrap hover-wrap">
                        <div class="hover-img">
                            <img src="{% static 'assets/images/help/our-staff/staff-img-3.png' %}" alt="Staff Images">
                            <div class="staff-detail hover-info">
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-dark btn-animated">Подробнее</a>
                            </div>
                        </div>
                        <div class="staff-text hover-bottom">
                        	<div class="staff-name">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Корнилов Кирилл</a></h5>
                            	<p>Физика, математика</p>
                            </div>
                        </div>
                    </div><!-- Staff Wrap /-->
                </div><!-- columns /-->
                
                <div class="col-sm-12 col-md-6 col-lg-3 col-padding-y">
                    <div class="staff-wrap hover-wrap">
                        <div class="hover-img">
                            <img src="{% static 'assets/images/help/our-staff/staff-img-4.png' %}" alt="Staff Images">
                            <div class="staff-detail hover-info">
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-dark btn-animated">Подробнее</a>
                            </div>
                        </div>
                        <div class="staff-text hover-bottom">
                        	<div class="staff-name">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Ростова Мария</a></h5>
                            	<p>Обучение детей</p>
                            </div>
                        </div>
                    </div><!-- Staff Wrap /-->
                </div><!-- columns /-->
                
            </div><!-- Row /-->
        </div>
        <!-- Our Staff /-->
        
        <!-- Olympiads -->
        <div class="our-courses grey-bg grey-bg-color module">
            <div class="section-title">
            	<h2><span>Олимпиады</span></h2>
                <p>Олимпиады могут дать тебе преимущество при поступлении в университет твоей мечты, а также это просто весело!</p>
            </div><!-- Section Title /-->
            <div class="container">
            	<div class="row">
                	
                    {% for olympiad in olympiads %} 

                    <div class="col-sm-12 col-md-6 col-lg-4 col-padding-y">
                    	<div class="course-warp">
                        	<div class="course-img">
                                <img src="{{ olympiad.image.url }}" alt="Our Olympiads">
                            </div>
                            <div class="course-text">
                            	<h5><a href="{% url 'olympiads:olympiad_registration' olympiad.id %}">{{ olympiad.title }}</a></h5>
                                <p>{{ olympiad.description }}</p>
                                <a href="{% url 'olympiads:olympiad_registration' olympiad.id %}" class="btn btn-light btn-dark-animated">Зарегистрироваться</a>
                            </div>
                        </div><!-- Courses warp /-->
                    </div><!-- columns /-->
                    {% endfor %}
                    
                        </div><!-- Courses warp /-->
                    </div><!-- columns /-->
                
                </div><!-- Row /-->
            </div><!-- Container -->
        </div>
        <!-- Olympiads /-->

        <div class="testimonials-wrap grey-bg dark-bg module">
            <div class="container">
            	<div class="row">
                	
                	<div class="col-sm-12 col-md-12 col-lg-12 col-padding-y">
                    	<div class="testimonials">
                        	<div class="testimonial-slid">
                            	<div class="testimonial-text">
                                	<p>" Я просто в восторге от этой онлайн-школы! Уроки здесь не только интересные, но и настолько понятные благодаря преподавателям. Я больше не боюсь учиться новому – это как приключение каждый раз. Спасибо за такое замечательное обучение! "</p>
                                </div>
                                <div class="testimonial-img">
                                	<img src="{% static 'assets/images/help/testimonial-1.png' %}" alt="">
                                	<h6>Владислав Кочетков</h6>
                                    <p>7 класс</p>
                                </div>
                            </div>
                            <div class="testimonial-slid">
                            	<div class="testimonial-text">
                                	<p>" Мы с моим ребенком абсолютно в восторге от этой онлайн-школы! Она не только предоставляет качественное образование, но и создает теплую и поддерживающую обстановку, которая важна особенно в начальных классах. Профессиональные преподаватели умеют заинтересовать детей и делать учебу увлекательной. Наш ребенок с радостью участвует в уроках и каждый раз узнает что-то новое. Благодаря этой школе, он полон энтузиазма и желания учиться. Большое спасибо за вашу работу! "</p>
                                </div>
                                <div class="testimonial-img">
                                	<img src="{% static 'assets/images/help/testimonial-2.png' %}" alt="">
                                	<h6>Ольга Зябликова</h6>
                                    <p>Родитель</p>
                                </div>
                            </div>
                            <div class="testimonial-slid">
                            	<div class="testimonial-text">
                                	<p>" Я безмерно благодарен этой онлайн-школе за то, что она сделала возможным мои отличные результаты на ЕГЭ! Отличная методика подачи материала и профессиональные преподаватели действительно помогли мне уверенно подготовиться. Благодаря вашим урокам, я смог не только справиться с экзаменами, но и по-настоящему понять предметы. Это был невероятный опыт, который изменил мою жизнь. Спасибо вам за ваше трудолюбие и преданность образованию! "</p>
                                </div>
                                <div class="testimonial-img">
                                	<img src="{% static 'assets/images/help/testimonial-3.png' %}" alt="">
                                	<h6>Сергей Волков</h6>
                                    <p>11 класс</p>
                                </div>
                            </div>
                            <div class="testimonial-slid">
                            	<div class="testimonial-text">
                                	<p>" Эта онлайн-школа – моя находка! С удивлением обнаружила, что учиться может быть настолько интересно. Преподаватели здесь как друзья, всегда готовы помочь и разъяснить, а уроки превращаются в увлекательные путешествия по миру знаний. Благодаря этой школе, у меня появилась уверенность в своих силах, и я с нетерпением жду новых уроков каждый день! "</p>
                                </div>
                                <div class="testimonial-img">
                                	<img src="{% static 'assets/images/help/testimonial-1.png' %}" alt="">
                                	<h6>Александра Золотова</h6>
                                    <p>10 класс</p>
                                </div>
                            </div>
                            <div class="testimonial-slid">
                            	<div class="testimonial-text">
                                	<p>" Я так счастлива, что учусь в этой онлайн-школе! Теперь учеба стала моей любимой частью дня. У нас здесь такие забавные уроки, и учителя всегда объясняют все понятно. Я даже стала лучше понимать математику, которая раньше казалась мне сложной. Большое спасибо за такую веселую и увлекательную школу! "</p>
                                </div>
                                <div class="testimonial-img">
                                	<img src="{% static 'assets/images/help/testimonial-2.png' %}" alt="">
                                	<h6>Екатерина Ежова</h6>
                                    <p>5 класс</p>
                                </div>
                            </div>
                        </div><!-- Testimonials /-->
                    </div><!-- Columns /-->
                	
                </div><!-- Row /-->
            </div><!-- Container -->
        </div>
        <!-- Testimonials Wrap /-->
        
        
        <div class="call-to-action">
        	<img class="call-to-action-img" src="{% static 'assets/images/help/background-effect-2.jpg' %}" alt="">
            <div class="container">
                <div class="row no-gutters">
                    
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="call-box">
                            <img src="{% static 'assets/images/help/icons/book-icon.png' %}" alt="book Icon">
                            <h3><a href="{% url 'courses:courses' %}">Выбери курс</a></h3>
                            <p>Ты точно найдешь свой идеальный курс, соответствующий твоим запросам!</p>
                        </div><!-- call Box /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="call-box">
                            <img src="{% static 'assets/images/help/icons/light-bulb.png' %}" alt="Light Bulb">
                            <h3><a href="{% url 'olympiads:is_not_ready' %}">Присоединяйся к семинарам</a></h3>
                            <p>Наши профессиональные кураторы во всех деталях объяснят сложные моменты.     </p>
                        </div><!-- call Box /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="call-box">
                            <img src="{% static 'assets/images/help/icons/hat-college.png' %}" alt="Hat College">
                            <h3><a href="{% url 'olympiads:is_not_ready' %}">Построй свое будущее</a></h3>
                            <p>Прямо сейчас ты можешь сделать шаг на пути к своему успеху!</p>
                        </div><!-- call Box /-->
                    </div><!-- Columns /-->
                    
                </div><!-- Row /-->
            </div><!-- Container /-->
        </div>
        <!-- Call to Action /-->
        
        <div class="blog-post grey-bg grey-bg-color">
            <div class="section-title">
            	<h2>Актуальные <span>новости</span></h2>
                <p>Оставайся в курсе всех событий школы</p>
            </div><!-- Section Title /-->
            <div class="container">
            	<div class="row">
                	
                    <div class="col-sm-12 col-md-6 col-lg-4 col-padding-y">
                    	<div class="blog-box">
                        	<div class="blog-img">
                            	<img src="{% static 'assets/images/help/blog/blog-img1.jpg' %}" alt="Blog Img">
                            </div>
                            <div class="blog-text">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Вебинар о компьютерной грамотности.</a></h5>
                                <div class="meta-tags">
                                    <i class="far fa-user"> <span>От:</span><a href="single-post-page.html">Владимир</a></i>
                                    <i class="far fa-comment"> <a href="{% url 'olympiads:is_not_ready' %}">0</a></i>
                                </div>
                            	<p>24 сентября в 13:00 по Москве пройдет вебинар о базовой компьютерной грамотности. Длительность вебинара - 1,5 часа.</p>
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-light btn-dark-animated">Подробнее</a>
                            </div>
                        </div><!-- Post Box /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-6 col-lg-4 col-padding-y">
                    	<div class="blog-box">
                        	<div class="blog-img">
                            	<img src="{% static 'assets/images/help/blog/blog-img2.jpg' %}" alt="Blog Img">
                            </div>
                            <div class="blog-text">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Статья: как не потерять мотивацию учиться?</a></h5>
                                <div class="meta-tags">
                                    <i class="far fa-user"> <span>От:</span><a href="{% url 'olympiads:is_not_ready' %}">Ксения</a></i>
                                    <i class="far fa-comment"> <a href="{% url 'olympiads:is_not_ready' %}">0</a></i>
                                </div>
                            	<p><i>Длительность чтения - 15 минут.</i>
                                Впереди экзамены и олимпиады, поэтому нельзя сбавлять темп обучения, чтобы обучение не было в тягость...</p>
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-dark btn-animated">Подробнее</a>
                            </div>
                        </div><!-- Post Box /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-6 col-lg-4 col-padding-y">
                    	<div class="blog-box">
                        	<div class="blog-img">
                            	<img src="{% static 'assets/images/help/blog/blog-img3.jpg' %}" alt="Blog Img">
                            </div>
                            <div class="blog-text">
                            	<h5><a href="{% url 'olympiads:is_not_ready' %}">Расскажем о процессе подачи документов в университеты.</a></h5>
                                <div class="meta-tags">
                                    <i class="far fa-user"> <span>От:</span><a href="{% url 'olympiads:is_not_ready' %}">Кирилл</a></i>
                                    <i class="far fa-comment"> <a href="{% url 'olympiads:is_not_ready' %}">0</a></i>
                                </div>
                            	<p>Присоединяйся к вебинару 2 октября в 20:00 по Москве. Узнаешь о пакете необходимых документов, привилегиях...</p>
                                <a href="{% url 'olympiads:is_not_ready' %}" class="btn btn-light btn-dark-animated">Подробнее</a>
                            </div>
                        </div><!-- Post Box /-->
                    </div><!-- Columns /-->
                    
                </div><!-- Row /-->
            </div><!-- Container -->
        </div>
        <!-- Blog Post /-->

        <div class="footer dark-bg grey-bg">
        	
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="footer-top-text footer-border">
                                <h2>Присоединяйся к нам!</h2>
                                <p>Оставь свою почту и мы с тобой свяжемся!</p>
                                <div class="row">
                                    
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="e-mail адрес">
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <div class="footer-top-btn">
                                            <button type="submit" class="btn btn-light">Отправить</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div><!-- columns /-->
                        
                    </div><!-- Row /-->
                </div><!-- Container /-->
            </div><!-- Footer Top /-->
        
        
        	
{% endblock %}