{% extends 'home/basic.html' %} 
{% load static %} 
{% load bootstrap4 %}
{% load i18n %}

{% block title %} EduBuddy school - {{ olympiad.title }} {% endblock %} 

{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    
                    <h1>{{ olympiad.title }}</h1>
                </div>
            </div><!-- Top Columns /-->
            
        </div>
    </div><!-- Grid Container /-->
</div>

{% if result  and allow_register %}
    <div class="section-title mt-5">
        <h2>{% trans 'Регистрация на олимпиаду' %} <span>{{ olympiad.title }}</span> {% trans 'успешно завершена' %}</h2>
        <p>{% trans 'Начало олимпиады' %}: {{ olympiad.date_of_start }}</p>
    </div>

<div class="request-appointment">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-8 col-lg-9 col-padding-y">
                <div class="appointment-text">
                    <p>Вы можете приступить к выполнению олимпиады сейчас или позже через личный кабинет</p>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-padding-y">
                        <div class="appointment-btn">
                            <a href="{% url 'olympiads:olympiad_page' olympiad.id %}" class="btn btn-secondary btn-padding btn-dark-animated">{% trans 'Приступить к выполнению' %}</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endif %} 

{% if not result %} 
<div class="section-title mt-5">
    <h2>{% trans 'К сожалению, регистрация на олимпиаду' %} <span>{{ olympiad.title }}</span> {% trans 'закрыта' %}</h2>
    <p>{% trans 'Крайний срок регистрации на олимпиаду:  до' %} {{ olympiad.registration_dedline }}</p>
</div>
{% endif %} 

{% if not allow_register %} 
<div class="section-title mt-5">
    <h2>{% trans 'Вы уже зарегистрированы на олимпиаду' %} <span>{{ olympiad.title }}</span></h2>
</div>
{% endif %} 

{% if not result or not allow_register %} 
<div class="request-appointment">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-9 col-padding-y">
                <div class="appointment-text">
                    <p>{% trans 'Вернуться к списку олимпиад' %}</p>
                    <div class="col-sm-12 col-md-4 col-lg-3 col-padding-y">
                        <div class="appointment-btn">
                            <a href="{% url 'olympiads:olympiads' %}" class="btn btn-secondary btn-padding btn-dark-animated">{% trans 'Вернуться' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %} 

{% endblock %} 