
<b>{{ t_question.title }}</b>:  {{ t_question.description }}
<p>
<input onclick="submit_t_question_answer({{ olympiad.id }}, {{ t_question.id }}, '1');"
                            type="radio"
                            name="t{{ t_question.id }}"
                            value="1"
                    {% for t_submission in t_submissions %}
                    {% if t_submission.question == t_question %}

                    {% if t_submission.answer == '1' %}
                        checked
                    {% endif %}
                    {% endif %}
                    {% endfor %}>
                    {{ t_question.first_statement }}
</p>
<p>
    <input onclick="submit_t_question_answer({{ olympiad.id }}, {{ t_question.id }}, '2');"
                                type="radio"
                                name="t{{ t_question.id }}"
                                value="2"
                        {% for t_submission in t_submissions %}
                        {% if t_submission.question == t_question %}
    
                        {% if t_submission.answer == '2' %}
                            checked
                        {% endif %}
                        {% endif %}
                        {% endfor %}>
                        {{ t_question.second_statement }}
    </p>
               