{% extends 'base.html' %} 
{% load static %}
{% load bootstrap4 %} 
{% block title %}Регистрация{% endblock %} 

{% block content %} 
    <div class="col-lg-12 d-flex justify-content-center custom-margin">
        <h1>Добро пожаловать!</h1>
    </div>
    <div class="col-lg-12 d-flex justify-content-center">
    <a class="stressed" href="{% url 'students:registration' status='s' %}">Я ученик</a>
    <a class="stressed" href="{% url 'students:registration' status='t' %}">Я учитель</a>
    </div>
{% endblock %} 