{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - Войти {% endblock %} 

{% block content %} 
<div class="widget side-bar border-btm"> 
    <h6>Вход</h6>
    <div class="content">
        <form method="POST">
            {% csrf_token %} 
            {% if form.errors %} 
            <p class="text-danger">Данные были введены некорректно, попробуйте еще раз.</p>
            {% endif %} 
            {{ form.username }}
            {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
            <div class=" mb-3 mt-3">
                <button class="btn btn-primary" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}