{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - Сброс пароля {% endblock %} 

{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    
                    <h1>Сброс пароля</h1>
                </div>
            </div><!-- Top Columns /-->
            
        </div>
    </div><!-- Grid Container /-->
</div>
<!-- Title Section /-->

<div class="widget side-bar border-btm"> 
    <h6>Изменить пароль</h6>
    <div class="content">
        {% if validlink %} 
        <form method="POST">
            {% csrf_token %} 
            {% if form.new_password2.errors %} 
            <div class="text-danger">
            {% for error in form.new_password2.errors %} 
            {{ error }}
            {% endfor %} 
            </div>
            {% endif %} 
            {{ form.new_password1 }}
            {{ form.new_password1.help_text }}
            {{ form.new_password2 }}
            {% if form.non_field_errors %} 
            <div class="text-danger">
            {{ form.non_field_errors.0 }} 
            </div>
            {% endif %} 
            <input type="hidden" name="next" value="{{ next }}">
            <div class="mb-3 mt-3">
                <button class="btn btn-primary" type="submit">Изменить пароль</button>
            </div>
        </form>
        {% else %} 
        Не валидно
        {% endif %} 
    </div>
</div>

{% endblock %} 