{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - Регистрация {% endblock %} 
{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    <h2>Регистрация нового пользователя</h2>
                    <h1>Добро пожаловать в EduBuddy school</h1>
                </div>
            </div><!-- Top Columns /-->
            
        </div>
    </div><!-- Grid Container /-->
</div>
<!-- Title Section /-->

<form method="POST">
    {% csrf_token %} 
    {% bootstrap_form  form layout='horizontal' %}
    {% buttons submit='Зарегистрироваться' %} {% endbuttons %}
</form>

{% endblock %} 