{% extends 'basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - Регистрация {% endblock %} 
{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    <h2>Регистрация нового пользователя</h2>
                    <h1>Добро пожаловать в EduBuddy school</h1>
                </div>
            </div><!-- Top Columns /-->
            
        </div>
    </div><!-- Grid Container /-->
</div>
<!-- Title Section /-->

<div class="widget side-bar border-btm"> 
    <h6>Регистрация</h6>
    <div class="content">
        <form action="{% url 'students:register' %}" method="POST">
            {% csrf_token %} 

            {{ form.last_name }}
            {{ form.first_name }}
            {{ form.patronymic }}
            {{ form.email }}
            {{ form.email.help_text }}<br>
            {% if form.email.errors %} 
            <div class="text-danger">
            {% for error in form.email.errors %} 
            {{ error }}
            {% endfor %} 
            </div>
            {% endif %} 
            {{ form.birthday }}
            {{ form.status }}
            {{ form.degree }}
            {{ form.degree_id }}
            {{ form.password1 }}
            {{ form.password1.help_text }}<br>
            {% if form.password1.errors %} 
            <div class="text-danger">
            {% for error in form.password1.errors %} 
            {{ error }}
            {% endfor %} 
            </div>
            {% endif %} 
            {{ form.password2 }}
            {% if form.non_field_errors %} 
            <div class="text-danger">
            {{ form.non_field_errors.0 }} 
            </div>
            {% endif %} 
            <div class=" mb-3 mt-3">
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
    
<!-- 
 <div class="widget side-bar border-btm"> 
    <h6>Регистрация</h6>
    <div class="content">

        <form method="post">
            {% csrf_token %} 
            {% bootstrap_form form layout='horizontal' %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class=" mb-3 mt-3">
                <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
 </div> -->


{% endblock %} 