{% extends 'home/basic.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} EduBuddy school - Сброс пароля {% endblock %} 

{% block content %} 
<div class="title-section dark-bg grey-bg">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-padding-y">
                <div class="title-section-text">
                    
                    <h1>Сброс пароля</h1>
                </div>
            </div><!-- Top Columns /-->
            
        </div>
    </div><!-- Grid Container /-->
</div>
<!-- Title Section /-->

<div class="widget side-bar border-btm"> 
    <h6>Вам на почту будет отправлено письмо для сброса пароля</h6>
    <div class="content">
        <form method="POST">
            {% csrf_token %} 
            {% if form.email.errors %} 
            <div class="text-danger">
            {% for error in form.email.errors %} 
            {{ error }}
            {% endfor %} 
            </div>
            {% endif %} 
            {{ form.email }}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="mb-3 mt-3">
                <button class="btn btn-primary" type="submit">Отправить</button>
            </div>
        </form>
    </div>
</div>

{% endblock %} 